h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
h2 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
img {
    width: 400px;
    height: 350px;
    /**center**/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
ul {
    font-family: "Times New Roman", Times, serif;
}